* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(27, 27, 27);
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background: white;
    width: 270px;
    /*height: 400px; without this line when we input the .card p it lets it resize the card automatically*/
    margin: 10px;
    /* does not apply to the actual image so put for image too*/
    border-radius: 15px;
}

.card-image {
    height: 170px;
    margin-bottom: 15px;
    /*helps fit the image perfectly onto the image spot*/
    background-size: cover;
    /*top, left, bottom, bottom*/
    border-radius: 15px 15px 0 0;
}

.car-1 {
    background-image: url('download.jpg');
}

.car-2 {
    background-image: url('download.jpg');
}

.car-3 {
    background-image: url('download.jpg');
}

.card p {
    padding: 10px;
}

.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    /*This makes the element block level meaning it starts on a new line and adds the boarder to the front and back*/
    display: block;
    text-align: center;
    margin: 20px 50px;
    text-decoration: none;
}

.card:hover{
    background-color: rgb(62, 62, 62);
    color: white;
    cursor: pointer;
    /*This increases everthing on the card by 1.03x their normal size*/
    transform: scale(1.03);
    transition: all 1s ease;
}